<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Author Info:</h1><br>
        <ul>
            <li>Author name: {{ author_list.name }}</li>
            <li>Date of birth: {{ author_list.date_of_birth }} y.o.</li>
            <li class="container">
                <p>{{ author_list.bio }}</p>
            </li>
            <li>
                <h4>
                    Quotes:
                    <ul>
                        {% for quote in author_list.quote_set.all %}
                            <p>{{ quote.text }}</p>
                        {% endfor %}
                    </ul>
                </h4>
            </li>
        </ul>
</body>
</html>